/* ======== RESET ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== MAIN CONTENT ======== */

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(24, 0, 44, 0.8)),
    url(images/justice-1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 440px;
  color: rgba(225, 193, 143, 1);
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(24, 0, 44, 0.6);
  backdrop-filter: blur(2px);
}

.card__logo {
  width: 100px;
}

.card_img {
  width: 140px;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgba(225, 193, 143, 1);
  box-shadow: 0 0 0.6rem rgba(23, 0, 37, 1);
}

.card h2 {
  font-size: 16px;
  margin-top: 10px;
}

.card p {
  font-size: 11px;
  margin: 5px 0 40px;
}

.link_img {
  width: 40px;
  margin: 30px 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.link_img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgba(225, 193, 143, 1);
  color: rgba(225, 193, 143, 1);
  padding: 10px 30px;
  margin: 10px 0;
  box-shadow: 0 0 0.6rem rgba(23, 0, 37, 1);
}

.btn:hover {
  background: rgb(24, 0, 44);
}
